<div class="row">
  <div class="col-md-6 pull-left">
    <app-todo-add (onupdating)="onOpen($event)"></app-todo-add>
  </div>
</div>
<div class="row" style="padding-left: 15px">
  <div class="col-md-6" ><h1>To Be Completed</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">

  <div class="row" style="padding-left: 15px" *ngFor="let todos of todoList">
    <div class="col-md-8 center-block"  >
      <a  class="list-group-item clearfix"  style="cursor: pointer" >
        <div class="text-info" style="padding-left: 15px">
          <div class="list-group-item-heading">{{ todos.text}}</div>
        </div>
        <div *ngIf="todos.completed"  class="col-md-5 bg-info" style="float: left;">
          <p style="font-size: x-small"><strong>CompletedAt: </strong>{{todos.completedAt |  date:'short'}}</p>
        </div>
        <div class="pull-right" >

          <button *ngIf="!todos.completed" (click)="onTodoCompleted(todos)" type="button" class="btn btn-success" >Completed</button>
          <button (click)="onTodoDeleted(todos)" type="button" class="btn btn-danger" >Delete</button>
        </div>
      </a>
    </div>
  </div>
</div>

</div>
